@model Empleados_TFI_PAD.recibo_sueldo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>recibo_sueldo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_liq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_liq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleado.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.num_recibo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
